@font-face {
  font-family: robotoLight;
  src: url(fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

.lr {
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1px rgba(0, 0, 0, 0.5) solid;
	border-top: 5px transparent solid;
	border-bottom: 5px transparent solid;
}

.backLink {
	position: relative;
	right: 420px;
}

.lineNew select {
	font-family: robotoLight;
	background-image: linear-gradient(45deg, #181818 30%, #672671 100%);
	height: 46px;
	min-width: 40px;
	color: rgba(255, 255, 255, 0.95);
	border-radius: 4px;
}

.lineNew select option {
	font-family: robotoLight;
	background-image: linear-gradient(45deg, #181818 30%, #672671 100%);
	color: black;
}